<div class="container">
  <div class="col-sm-3 sidemenu">
    <ul>
      <li><%= link_to 'ホーム', root_path %></li>
      <li><%= link_to 'ユーザ一覧', users_path %></li>
      <li><%= link_to "メッセージ", conversations_path %></li>
      <li><%= link_to 'アカウント管理', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
  <div class="col-sm-6 topics">
          <div class="row">
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>
<p><%= notice %></p>
<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= user.name %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
<%= f.error_messages! %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "メッセージを送る" %>
  </div>

<% end %>
</div>
</div>
<div class="col-sm-3 friends">
  <p class="friends_followed">フォロワー</p>
  <ul>
    <% if current_user.followed_users.blank? %>
    ※フォローしていません。
    <% else %>
    <% current_user.followed_users.each do |followed_user| %>
    <%= profile_img(followed_user) if profile_img(followed_user) %>
    名前：<%= followed_user.name.blank? ? "名無しさん" : followed_user.name %><br><br>
    <% end %>
    <% end %>
  </ul>
  <p class="friends_follower">フォローユーザ</p>
  <ul>
    <% if current_user.followers.blank? %>
    ※フォロワーはいません。
    <% else %>
    <% current_user.followers.each do |follower| %>
    <%= profile_img(follower) if profile_img(follower) %>
    名前：<%= follower.name.blank? ? "名無しさん" : follower.name %><br><br>
    <% end %>
    <% end %>
  </ul>
</div>
</div>
