
  <div class="container">
<div class="col-sm-3 sidemenu">
  <ul>
    <li><%= link_to 'ホーム', root_path %></li>
    <li><%= link_to 'マイページ', edit_user_registration_path %></li>
    <li><%= link_to 'ユーザ一覧', users_path %></li>
    <li><%= link_to "メッセージ", conversations_path %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
<div class="col-sm-6 topics">

<p id="notice"><%= notice %></p>
<div class="child row">
  <!-- <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1"> -->
    <div class="topic-text">
      <p class="left"><%= profile_img(@topic.user) if profile_img(@topic.user) %></P>
      <p class="left"><%= @topic.user.name %></p>
      <p class="left"><strong>タイトル:</strong><%= @topic.title %></p>
      <p class="left"><strong>作成時間:</strong><%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %></p>
      <p class="left"><strong>内容:</strong></p>
      <p class="left"><%= simple_format(@topic.content) %></p>

    </div>
    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
    <% if current_user.id == @topic.user_id %>
      <%= link_to '編集', edit_topic_path(@topic) %>
    <% end %>
  </div>
</div>
<div class="col-sm-3 friends">
  <p class="friends_followed">フォロワー</p>
  <ul>
    <% if current_user.followed_users.blank? %>
    ※フォローしていません。
    <% else %>
    <% current_user.followed_users.each do |followed_user| %>
    <%= profile_img(followed_user) if profile_img(followed_user) %>
    名前：<%= followed_user.name.blank? ? "名無しさん" : followed_user.name %><br><br>
    <% end %>
    <% end %>
  </ul>
  <p class="friends_follower">フォローユーザ</p>
  <ul>
    <% if current_user.followers.blank? %>
    ※フォロワーはいません。
    <% else %>
    <% current_user.followers.each do |follower| %>
    <%= profile_img(follower) if profile_img(follower) %>
    名前：<%= follower.name.blank? ? "名無しさん" : follower.name %><br><br>
    <% end %>
    <% end %>
  </ul>
</div>

</div>
