<div class="container">
  <!-- <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1"> -->
  <div class="col-sm-3 sidemenu">
    <ul>
      <li><%= link_to 'ホーム', root_path %></li>
      <li><%= link_to 'ユーザ一覧', users_path %></li>
      <li><%= link_to "メッセージ", conversations_path %></li>
      <li><%= link_to 'アカウント管理', edit_user_registration_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>

  <div class="col-sm-6 user_index">
    <% @users.each do |user| %>
    <div class="row">
      <!-- <%= profile_img(user) if profile_img(user) %> -->
      <%= link_to profile_img(user),user if profile_img(user) %>
      <h4><strong><%= link_to user.name, user %></strong></h4>
      <p><%= user.email %></p>
      <% if user.id != current_user.id %>
      <div class="item">
        <% #binding.pry %>
        <% #if  %>
        <% if current_user.following?(user) && current_user.followed?(user) %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        <% end %>
      </div>
      <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="col-sm-3 friends">
    <p class="friends_followed">フォロワー</p>
    <ul>
      <% if current_user.followed_users.blank? %>
      ※フォローしていません。
      <% else %>
      <% current_user.followed_users.each do |followed_user| %>
      <%= profile_img(followed_user) if profile_img(followed_user) %>
      名前：<%= followed_user.name.blank? ? "名無しさん" : followed_user.name %><br><br>
      <% end %>
      <% end %>
    </ul>
    <p class="friends_follower">フォローユーザ</p>
    <ul>
      <% if current_user.followers.blank? %>
      ※フォロワーはいません。
      <% else %>
      <% current_user.followers.each do |follower| %>
      <%= profile_img(follower) if profile_img(follower) %>
      名前：<%= follower.name.blank? ? "名無しさん" : follower.name %><br><br>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
