<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <div class="fblogo header_url hidden-xs">
      <%= link_to "facebook", root_path %>
    </div>
    <div class="header_mylink">
    <% if user_signed_in? %>
    <div class="profile_img header_url">
      <%= link_to profile_img(current_user),current_user if profile_img(current_user) %>
    </div>
    <div class="header_url">
    <%= link_to current_user.name, current_user %>
    <%= link_to "ホーム", root_path %>
    </div>
    <% end %>
    </div>
    <!-- <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
        <li><%= link_to "トピック", topics_path %></li>
        <li><%= link_to 'マイページ', edit_user_registration_path %></li>
        <li><%= link_to 'ユーザ一覧', users_path %></li>
        <li><%= link_to "メッセージ", conversations_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <li><%= link_to '管理画面', rails_admin_path %></li>
        <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to 'サインアップ', new_user_registration_path %></li>
        <% end %>
      </ul>
    </li> -->
</header>

<%= yield %>

<footer>
  Facebook ©2016
</footer>

</body>
</html>
